<div *ngIf="estacionamento">
    <h2>
        <span jhiTranslate="controleEstacionamentoApp.estacionamento.detail.title">Estacionamento</span>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt>
            <span jhiTranslate="controleEstacionamentoApp.estacionamento.entrada">Entrada</span>
        </dt>
        <dd>
            <span>{{estacionamento.entrada | date:'medium'}}</span>
        </dd>
        <dt>
            <span>Sa&iacute;da</span>
        </dt>
        <dd>
            <span>{{estacionamento.saida | date:'medium'}}</span>
        </dd>
        <dt>
            <span>Valor Pagamento</span>
        </dt>
        <dd>
            <span>R$ {{estacionamento.vlrPagamento}}</span>
        </dd>
        <dt>
            <span>Tempo de Perman&ecirc;ncia</span>
        </dt>
        <dd>
            <span>{{estacionamento.tempoPermanencia}} horas</span>
        </dd>
        <dt>
            <span>Ve&iacute;culo</span>
        </dt>
        <dd>
            <div *ngIf="estacionamento.veiculoId">
                <a [routerLink]="['/veiculo', estacionamento.veiculoId]">{{estacionamento.veiculoId}}</a>
            </div>
        </dd>
        <dt>
            <span jhiTranslate="controleEstacionamentoApp.estacionamento.patio">Patio</span>
        </dt>
        <dd>
            <div *ngIf="estacionamento.patioId">
                <a [routerLink]="['/patio', estacionamento.patioId]">{{estacionamento.patioId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" class="btn btn-primary" (click)="pagar()">
        <span class="fa fa-credit-card"></span>&nbsp;
        <span> Pagar</span>
    </button>
</div>