<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVeiculoLabel" jhiTranslate="controleEstacionamentoApp.veiculo.home.createOrEditLabel">Create or edit a Veiculo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!veiculo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="veiculo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="controleEstacionamentoApp.veiculo.placa" for="field_placa">Placa</label>
            <input type="text" class="form-control" name="placa" id="field_placa"
                [(ngModel)]="veiculo.placa" required minlength="7" maxlength="7"/>
            <div [hidden]="!(editForm.controls.placa?.dirty && editForm.controls.placa?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.placa?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.placa?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 7 }">
                   This field is required to be at least 7 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.placa?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 7 }">
                   This field cannot be longer than 7 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="controleEstacionamentoApp.veiculo.modelo" for="field_modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" id="field_modelo"
                [(ngModel)]="veiculo.modelo" required minlength="1" maxlength="20"/>
            <div [hidden]="!(editForm.controls.modelo?.dirty && editForm.controls.modelo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modelo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modelo?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modelo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="controleEstacionamentoApp.veiculo.cor" for="field_cor">Cor</label>
            <input type="text" class="form-control" name="cor" id="field_cor"
                [(ngModel)]="veiculo.cor" required minlength="1" maxlength="20"/>
            <div [hidden]="!(editForm.controls.cor?.dirty && editForm.controls.cor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cor?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cor?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="controleEstacionamentoApp.veiculo.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="veiculo.clienteId"  required>
                <option *ngIf="!editForm.value.cliente" [ngValue]="null" selected></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cliente?.dirty && editForm.controls.cliente?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cliente?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
